.article-post {
  img,
  pre {
    @apply mb-4 rounded-lg;
  }

  img {
    @apply block mx-auto;
  }

  :is(h1, h2, h3, h4, h5, h6):has(a) {
    @apply mb-[0.8em];
  }
  :is(h1, h2, h3, h4, h5, h6):has(a):before {
    content: '# ';
    @apply text-accent dark:text-primary;
  }

  ul {
    @apply list-disc;
  }

  ul,
  ol,
  p {
    margin-bottom: 1.45em;
  }

  ul,
  ol {
    padding-left: 1.2em;
  }

  p code {
    @apply bg-fwhite dark:bg-gray-darkest text-gray-darker dark:text-gray-light p-1 rounded-md text-sm font-mono;
  }
}
