.article-post {
  img,
  pre {
    @apply mb-4 rounded-lg;
  }

  img {
    @apply block mx-auto;
  }

  pre {
    @apply text-base max-w-full overflow-scroll sm:overflow-auto pb-4;
    &.shiki.language-js,
    &.shiki.language-ts {
      .line {
        counter-increment: codeblock-line;

        &::before {
          content: counter(codeblock-line);
          @apply text-gray-light dark:text-gray-darker z-1 mr-2;
        }
      }
    }
  }

  ul {
    @apply list-disc;
  }

  ul,
  ol,
  p {
    margin-bottom: 1.45em;
  }

  ul,
  ol {
    padding-left: 1.2em;
  }
}
