html {
  font-size: 16px;
  overflow-x: hidden;
  @apply bg-primary dark:bg-primaryDark dark:text-fwhite;
}

body {
  @apply bg-gray-lightest dark:bg-gray-darkest dark:text-fwhite font-sans m-0;
}

pre {
  @apply text-base max-w-full overflow-scroll sm:overflow-auto mb-4 bg-fwhite dark:bg-primaryDark p-3;
}

code {
  white-space: pre-wrap;
  max-width: 100%;
  word-break: break-word !important;
}

svg,
img {
  max-width: 100%;
}

label,
label input,
label textarea {
  @apply block;
}

input:not([type='radio']):not([type='checkbox']),
textarea {
  @apply font-mono;
}

input,
textarea,
button {
  border: none;
  font-size: 100%;
}

button {
  @apply font-bold p-2 text-black hover:text-action dark:text-fwhite dark:hover:text-actionDark rounded;
}

button.button {
  @apply rounded px-8 py-3 mt-2 transition;
}
