html {
  font-size: 16px;
}

p code {
  white-space: pre-wrap;
}

pre {
  @apply mx-8;
}

code {
  max-width: 100%;
  word-break: break-word;
}

svg,
img {
  max-width: 100%;
}

label,
label input,
label textarea {
  @apply block;
}

input:not([type="radio"]):not([type="checkbox"]),
textarea {
  @apply font-mono;
}

button {
  @apply text-accent font-bold p-2 bg-grey-light rounded;
}

button.button {
  @apply rounded px-8 py-3 mt-2 transition;
  &:hover {
    @apply bg-teal-light text-purple-darker;
  }
}
