
/* CSS transitions */

.transition {
  transition: all .2s  ease-out;

  &\:box-shadow {
    transition: box-shadow .2s  ease-out;
  }

  &\:color {
    transition: color .2s  ease-out;
  }

  &\:fill {
    transition: fill .2s  ease-out;
  }
}

.disable-transition {
  transition: none;
}

/* Vue transitions */

.fade-enter-active,
.fade-leave-active {
  transition: opacity .5s;
}
.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* Comming from left */
.page-left-enter-active,
.page-left-leave-active {
    transition:
      transform .16s ease-out,
      opacity .16s ease-out
    ;
}

.page-left-enter,
.page-left-leave-to {
    opacity: 0;
}

.page-left-enter {
    transform: translateX(-5%);
}

/* Opacity */
.page-opacity-enter-active,
.page-opacity-leave-active {
    transition: opacity .16s ease-out;
}

.page-opacity-enter,
.page-opacity-leave-to {
    opacity: 0;
}
